{% extends 'registration/base-logout.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block h1 %}
<h1>Bienvenue sur TaskLinker</h1>
{% endblock %}

{% block body %}
<p class="subtitle">Commencez dès maintenant - gratuitement</p>
<p>Vous avez déjà un compte ?</p>
<a href="{{ path('app_login') }}" class="button login-button">Se connecter</a>
<div class="separator">
    <hr>ou<hr>
</div>
<a href="{{ path('app_register') }}" class="button register-button">S'inscrire</a>
{% endblock %}
